<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src='https://kit.fontawesome.com/132e87df1f.js'></script>
  <title>wpk-core</title>
</head>
<body>
  <div class="sidebarNav">
    <a href="" class="btn sidebar__btn">
     <div class="sidebar-burger"></div>
     <div class="sidebar-burger"></div>
     <div class="sidebar-burger"></div>
    </a>
    
    <div class="socials">
      <a href="http://" target="_blank" rel="noopener noreferrer" data-text="Twitter">
       Tw
     </a>
     <a href="http://" target="_blank" rel="noopener noreferrer" data-text="LinkedIn">
       In
     </a>
     <a href="http://" target="_blank" rel="noopener noreferrer" data-text="Facebook">
       Fb
     </a>
    </div>
  </div>
  <header class="header__main">
      <nav class="navbar">
        <div class="logo">
          Aer
        </div>
        <ul class="navbar__list">
          <li class="navbar__item"><a href="#" class="navbar__link navbar__link--active">Home</a></li>
          <li class="navbar__item"><a href="#" class="navbar__link">Portfolio</a></li>
          <li class="navbar__item"><a href="#" class="navbar__link">About</a></li>
          <li class="navbar__item"><a href="#" class="navbar__link">Location</a></li>
          <li class="navbar__item"><a href="#" class="navbar__link">Cart</a></li>
          <li class="navbar__item"><a href="#" class="navbar__link search">
            <i class="fa fa-search"></i>
          </a></li>
        </ul>
      </nav>
      <div class="header__maincontent">
        <div class="header__maincontent--left"></div>
        <div class="header__maincontent--right">
          <h1>Work <br/> Anywhere</h1>
          <p class="text">
            Introducing the Work Collection, a line of minimalist bags designet for a <a href="#" target="_blank">
              new generation specifically for a modern professionals  </a>
          </p>
        </div>
      </div>
      <div class="heaader__secondcontent">
        <div class="box box-1">
          <h3 class="text">Events</h3>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          </p>
<span class="dottes"></span><span class="dottes"></span><span class="dottes"></span>
        </div>
        <div class="box box-2">
          <h3 class="text">Events</h3>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          </p>
        </div>
        <div class="box box-3"></div>
        <div class="box box-4">
          <h3 class="text">Events</h3>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br/>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </p>
          <a href="#" target="_blank" rel="noopener noreferrer">Learn more</a>
        </div>
       </div>
  </header>
  <main>

  </main>
</body>
</html>