<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src='https://kit.fontawesome.com/132e87df1f.js'></script>
  <title>wpk-core</title>
</head>
<body>
  <header class="header__main">
      <div class="header__main--sidebar">
        <a href="" class="btn sidebar__btn">
         <div class="sidebar-burger"></div>
         <div class="sidebar-burger"></div>
         <div class="sidebar-burger"></div>

        </a>
        
        <div class="socials">
          <a href="http://" target="_blank" rel="noopener noreferrer" data-text="Twitter">
           Tw
         </a>
         <a href="http://" target="_blank" rel="noopener noreferrer" data-text="LinkedIn">
           In
         </a>
         <a href="http://" target="_blank" rel="noopener noreferrer" data-text="Facebook">
           Fb
         </a>
        </div>
      </div>
  </header>
  <main>

  </main>
</body>
</html>