/*
                    HEADER
================================================== */

.header__main {
  width: auto;
  height: 100vh;
  background-image: url("/src/images/content/man-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 50%;
  position: relative;

  .header__maincontent {
    display: flex;
    height: auto;
    width: 100%;

    .header__maincontent--left {
      width: 50%;
    }

    .header__maincontent--right {
      width: 50%;
      height: auto;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-flow: column wrap;
      // outline: 1px solid red;

      h1 {
        font-size: 4rem;
        margin-top: 15%;
      }

      p.text {
        padding-right: 20%;
        opacity: 0.8;

        a {
          text-decoration: underline;
        }
      }
    }
  }

  .heaader__secondcontent{
    display:flex;
    position: absolute;
    bottom:0;
    right:0;
    width:90%;
    height:30%;
    // background: red;


    .box{
      position: relative;
      padding: 50px;
      overflow: hidden;
      background: rgba( 0, 0, 0, 0.25 );
      backdrop-filter: blur( 30px );
      -webkit-backdrop-filter: blur( 30px );
      

      h3.text{
        padding-bottom: 30px;
      }

      .dottes{
        margin-top: 100px;
        display:inline-block;
        width:5px;
        height: 5px;
        background: $white;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;

        &:first-of-type{
          background: $link-hvr-c;
        }
      }
      
    }

    .box-1,
    .box-2{
      flex-basis: 25%;
    }

    .box-3{
      flex-basis:20%;
      background-image: url('/src/images/content/man1.png');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
    }
    .box-4{
      flex-basis:30%;
    }
  }
}
