/*
                    HEADER
================================================== */

.header__main {
width: auto;
height: 100vh;
background-image: url('/src/images/content/man-bg.jpg');
background-repeat: no-repeat;
background-position: 50% 0;
background-size: 50%;

display: flex;


  &--sidebar{
    width: 5.45%;
    // height: 100%;
    border-right:1px solid hsla(0, 0%, 100%, 0.295);
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sidebar__btn{
      width:fit-content;
      background: hsl(0, 0%, 28%);
      border: none;
      height:5%;
      position: relative;

      .sidebar-burger{
        width: 40px;
        height: 1px;
        background: #fff;
        margin-top: 5px;

        &:nth-child(2){
          margin-top: 15px;
          width: 30px;
        }

        &:nth-child(3){
          margin-top: 15px;
          width: 20px;
        }
      }

    
 
    }
    .socials{
      height: 300px;
      width:100%;
      
 
      a{
        display:block;
        transform: rotateZ(-90deg);
        margin-top: 30px;
        position: relative;

        &::after{
          content: attr(data-text);
          position: absolute;
          right:50%;
          top:350%;
          color:inherit;
          transform: rotateZ(90deg);
          background: #000;
          padding: 4px 16px;
          transition: all .35s ease-in-out;

          opacity:0;
        }

        &:hover{

          &::after{
            opacity:1;
           top:250%;
          }
         
        }
  
      }

    

    }
  }

}
