/*
                    HEADER
================================================== */

.header__main {
  width: auto;
  height: 100vh;
  background-image: url("/src/images/content/man-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 50%;

  .header__maincontent {
    display: flex;
    height: auto;
    width: 100%;

    .header__maincontent--left {
      width: 50%;
    }

    .header__maincontent--right {
      width: 50%;
      height: auto;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-flow: column wrap;
      // outline: 1px solid red;

      h1 {
        font-size: 4rem;
        margin-top: 15%;
      }

      p.text {
        padding-right: 10%;
        opacity: 0.8;

        a {
          text-decoration: underline;
        }
      }
    }
  }
}
